.section {
  background-image: url('../images/notePickr-background.jpg');
  /* height: 450px; */
  background-repeat: no-repeat;
  background-size: 100%;
}
.magnifying-glass {
  width:40%;
  margin-left: 60%;
}
.btn, .btn-large, .btn-small {
  text-decoration: none;
  color: #fff;
  background-color: #0076a3;
}
.btn:hover, .btn-large:hover {
  background-color: #3895b8;
}